body {
font-family: 'Mukta', sans-serif;
font-weight: 300;

}

h6,
h5,
h4,
h3,
h2,
h1 {
font-family: 'Hind Madurai', sans-serif;
font-weight:700;	
}

.navbar-brand img {width:250px}


#footer {background-color:#55CCEF;color:#161821}

#lowerfooter {background-color:#CC9ED1;color:#161821}